In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
import pandas as pd

# Cargamos el archivo CSV en un DataFrame
df_original = pd.read_csv('penis_v5.csv')

# Creamos una copia del DataFrame original
df_copia = df_original.copy()

In [11]:
#esto fue antes de tener penis_v5.csv

# Reemplazamos los puntos por comas en la columna 'numeros' de df_copia
#df_copia['length'] = df_copia['length'].str.replace('.', ',')

# Convertimos la columna 'numeros' de df_copia a tipo float
#df_copia['length'] = df_copia['length'].astype(float)

#Resulta que ya es float, lo convertimos a string para poder cambiar punto por coma.

In [12]:
#esto fue antes de tener penis_v5.csv

#df_copia['length'] =df_copia['length'].astype(str).str.replace('.', ',')
#tuve que cambiar el fomato de medida de penis_long_format y la tabla modificada la 
#guarde como penis_v5.csv

In [ ]:
#df_copia.to_csv('penis_v5.csv', index=False)

In [8]:
df_copia.head()

,Country,Region,Method,N,Source,state,length,volume,circumf
0,Afghanistan,Central Asia,Measured,100.0,Journal of Urology (mentioned in 2011),Flaccid,"9,5",62.60,9.1
1,Albania,Europe,Self reported,95.0,Journal of Sexology 2006,Flaccid,"9,8",73.38,9.7
2,Algeria,Africa,Self reported,738.0,https://www.surveymonkey.com - 2015,Flaccid,"9,9",62.40,8.9
3,Angola,Africa,Measured,978.0,University Agostinho Neto 2001,Flaccid,"10,0",73.34,9.6
4,Argentina,South America,Self reported,1669.0,Journal of Urology 2013,Flaccid,"9,4",59.25,8.9

In [10]:
print(df_copia['state'].unique()) #no entiendo porqué solo me aparece "flacid" en tableau
                                # quería comprobar que sigo teniendo erect

['Flaccid' 'Erect']

In [13]:
#voy a confirmar que tengo valores "erect"
erect = df_copia['state'] == 'Erect'

erect = df_copia[erect]
erect.head()

,Country,Region,Method,N,Source,state,length,volume,circumf
139,Afghanistan,Central Asia,Measured,100.0,Journal of Urology (mentioned in 2011),Erect,"13,69",142.08,11.42
140,Albania,Europe,Self reported,95.0,Journal of Sexology 2006,Erect,"14,19",166.97,12.16
141,Algeria,Africa,Self reported,738.0,https://www.surveymonkey.com - 2015,Erect,"14,49",138.76,10.97
142,Angola,Africa,Measured,978.0,University Agostinho Neto 2001,Erect,"15,73",174.89,11.82
143,Argentina,South America,Self reported,1669.0,Journal of Urology 2013,Erect,"14,88",155.24,11.45

In [ ]:

print(df_copia.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  278 non-null    object
 1   Region   278 non-null    object
 2   Method   278 non-null    object
 3   N        278 non-null    float64
 4   Source   278 non-null    object
 5   state    278 non-null    object
 6   length   278 non-null    float64
 7   volume   278 non-null    float64
 8   circumf  278 non-null    float64
dtypes: float64(4), object(5)
memory usage: 19.7+ KB
None

In [14]:
spain = df_copia['Country'] == 'Spain'

spain = df_copia[spain]
spain.head()

,Country,Region,Method,N,Source,state,length,volume,circumf
117,Spain,Europe,Self reported,1282.0,Dr. Pilar Cristobal: Universida de Navarra. 2003.,Flaccid,"9,2",68.88,9.70
256,Spain,Europe,Self reported,1282.0,Dr. Pilar Cristobal: Universida de Navarra. 2003.,Erect,"13,58",160.58,12.19

In [ ]:
#estoy confirmando que tengo flacid y erect de cada pais, los tengo, para calcular el porcentaje entre uno y otro