In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [1]:
import pandas as pd

# Cargamos el archivo CSV en un DataFrame
df_original = pd.read_csv('penis_long_format.csv')

# Creamos una copia del DataFrame original
df_copia = df_original.copy()

In [2]:
df_copia.head()

,Country,Region,Method,N,Source,state,length,volume,circumf
0,Afghanistan,Central Asia,Measured,100.0,Journal of Urology (mentioned in 2011),Flaccid,9.5,62.60,9.1
1,Albania,Europe,Self reported,95.0,Journal of Sexology 2006,Flaccid,9.8,73.38,9.7
2,Algeria,Africa,Self reported,738.0,https://www.surveymonkey.com - 2015,Flaccid,9.9,62.40,8.9
3,Angola,Africa,Measured,978.0,University Agostinho Neto 2001,Flaccid,10.0,73.34,9.6
4,Argentina,South America,Self reported,1669.0,Journal of Urology 2013,Flaccid,9.4,59.25,8.9

In [3]:
# Reemplazamos los puntos por comas en la columna 'numeros' de df_copia
df_copia['length'] = df_copia['length'].str.replace('.', ',')

# Convertimos la columna 'numeros' de df_copia a tipo float
df_copia['length'] = df_copia['length'].astype(float)

#Resulta que ya es float, lo convertimos a string para poder cambiar punto por coma.

AttributeError: Can only use .str accessor with string values!

In [7]:

print(df_copia.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  278 non-null    object
 1   Region   278 non-null    object
 2   Method   278 non-null    object
 3   N        278 non-null    float64
 4   Source   278 non-null    object
 5   state    278 non-null    object
 6   length   278 non-null    float64
 7   volume   278 non-null    float64
 8   circumf  278 non-null    float64
dtypes: float64(4), object(5)
memory usage: 19.7+ KB
None

In [ ]:
df['salario'] = df['salario'].astype(str).str.replace('.', ',')